pipeline/PL_Child_Incremental.json
{
	"name": "PL_Child_Incremental",
	"properties": {
		"activities": [
			{
				"name": "LKUP_MAX_VALUE",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(@{pipeline().parameters.WatermarkColumn}) AS MaxValue\nFROM @{pipeline().parameters.TableSchema}.@{pipeline().parameters.TableName}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_LKUP_MAX_VALUE",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": {
								"value": "@pipeline().parameters.TableSchema",
								"type": "Expression"
							},
							"TableName": {
								"value": "@pipeline().parameters.TableName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "IF_NewDataExists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "LKUP_MAX_VALUE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n  int(coalesce(activity('LKUP_MAX_VALUE').output.firstRow.MaxValue, 0)),\n  coalesce(pipeline().parameters.LastLoadValue, 0)\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "CPY_TableToADLS",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n  'SELECT * FROM ',\n  pipeline().parameters.TableSchema, '.', pipeline().parameters.TableName,\n  if(\n    equals(pipeline().parameters.LastLoadValue, 0),\n    '',\n    concat(\n      ' WHERE ', pipeline().parameters.WatermarkColumn,\n      ' > ''', pipeline().parameters.LastLoadValue, ''''\n    )\n  )\n)\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_LKUP_MAX_VALUE",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": {
											"value": "@pipeline().parameters.TableSchema",
											"type": "Expression"
										},
										"TableName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ADLS_Parquet_Sink",
									"type": "DatasetReference",
									"parameters": {
										"Table_Name": "@pipeline().parameters.TableName"
									}
								}
							]
						},
						{
							"name": "EP_UpdateWatermark",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "CPY_TableToADLS",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_UpdateWatermark_SP",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@pipeline().parameters.TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@pipeline().parameters.TableName",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@pipeline().parameters.WatermarkColumn",
										"type": "Expression"
									},
									"NewWatermark": {
										"value": "@activity('LKUP_MAX_VALUE').output.firstRow.MaxValue",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableSchema": {
				"type": "string"
			},
			"TableName": {
				"type": "string"
			},
			"WatermarkColumn": {
				"type": "string"
			},
			"LastLoadValue": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-31T15:15:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}