pipeline/PL_Master_Incremental.json
{
	"name": "PL_Master_Incremental",
	"properties": {
		"activities": [
			{
				"name": "LKUP_SQLTABLE_WATRMRK_DW",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TableSchema, TableName, WatermarkColumn, LastLoadValue\nFROM dbo.ADF_Watermark_Table;\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SQLServer_Source1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_IterateTables",
				"description": "@activity('LKUP_SQLTABLE_WATRMRK_DW').output.value",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKUP_SQLTABLE_WATRMRK_DW",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKUP_SQLTABLE_WATRMRK_DW').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "EP_ChildPipeline_Incremental",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_Child_Incremental",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableSchema": {
										"value": "@item().TableSchema",
										"type": "Expression"
									},
									"TableName": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@item().WatermarkColumn",
										"type": "Expression"
									},
									"LastLoadValue": {
										"value": "@item().LastLoadValue",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-29T16:04:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}